//- ./src/views/pages/edu-course-view.pug

extends ../layouts/master.pug
include ../mixins/edu-header.pug
include ../mixins/memberItem.pug

block title
  title Salstro - Educator Course View

block content
  //- header cum navbar
  include ../components/navbar.pug
  //- main content
  section.main-content
    .container
      .row
        .col-lg-3.col-md-4
          //- include sidebar
          // Sidebar
          include ../components/sidebar.pug
          // ./ Sidebar
        .col-lg-9.col-md-8
          //- include content
          .row
            //- Include Activity Header
            .col-12
              +eduHeaderView('Course View')
                .edu-bottom
                  .workshop-card
                    .workshop-card__media
                      img.workshop-card__media-img(src=require('../../assets/images/img/port-01.jpg'), alt="Workshop Image")
                    .workshop-card__body.workshop-card__body--small
                      .workshop-card__content
                        h2.workshop-card__title
                          | Color Training Course
                        h4.workshop-card__company
                          img(src=require('../../assets/images/img/job-01.jpg'), alt="")
                          | Beauty Salon Company
                        p.workshop-card__duration
                          img(src=require('../../assets/images/svg/icon-clock.svg'), alt="Duration")
                          | 15 Days or 12.00 hours
                        .workshop-card__footer.mt-2
                          p.workshop-card__date
                            img(src=require('../../assets/images/svg/icon-cal.svg'))
                            | 25 June 2018
                          p.workshop-card__price-tag.text-left.mb-0
                            img(src=require('../../assets/images/svg/icon-dollar.svg'), alt="Price")
                            | 1500.00
                      .workshop-card__meta.workshop-card__meta--col
                        .workshop-card__social
                          a.workshop-card__save(href='')
                            img(src=require('../../assets/images/svg/star.svg'), alt="")
                            | Save
                          a.workshop-card__share(href='')
                            img(src=require('../../assets/images/svg/share.svg'), alt="")
                        a.btn.btn__primary(href="#") Book Now
              section.myprofile__content
                .row
                  .col-lg-8
                    +box('Course Detail')
                      section.jd-container
                        .jd-block
                          h3.jd__title Course Description
                          p.jd__detail
                            | This course delivers cutting techniques with relevance to the trends we see through our collections, social media and session work.Looking into the current “trend of the moment” an how to translate it into the salon.
                            br
                            | Work on the current techniques for cutting and personalising hair
                        .jd-block
                          h3.jd__title COURSE FOCUS
                          ul.jd__list
                            li.jd__list-item Techniques of cutting shapes
                            li.jd__list-item Looking into hair trends and inspirations
                            li.jd__list-item How to personalise hair for maximum benefits
                        .jd-block
                          h3.jd__title Class Schedule
                          p.jd__detail Duration: 1 day Morning - 2 x demo cut Afternoon – Workshop on live models
                        .jd-block
                          h3.jd__title What you will learn
                          ul.jd__list
                            li.jd__list-item Techniques of cutting shapes
                            li.jd__list-item Looking into hair trends and inspirations
                            li.jd__list-item How to personalise hair for maximum benefits
                        .jd-block
                          h3.jd__title What you will get
                          p.jd__detail An internationally recognised TONI&GUY Diploma will be awarded to all students on successful completion of the course.
                        .jd-block
                          h3.jd__title What to bring
                          p.jd__detail Scissors Combs, clips,brushes & Hairdryer
                        .jd-block
                          h3.jd__title What to wear
                          p.jd__detail Casual, Closed shoes
                        .jd-block
                          h3.jd__title Appropriate for
                          p.jd__detail Qualified stylist
                        .jd-block
                          h3.jd__title Cancelation & Refund Policy
                          p.jd__detail Refunds - We require 7 days notice of cancellation to receive a full refund. Please call 02 9078 1006 if you need to cancel/change your booking.
                        .jd-block
                          h3.jd__title Terms & Conditions
                          p.jd__detail Refunds - We require 7 days notice of cancellation to receive a full refund. Please call 02 9078 1006 if you need to cancel/change your booking.
                        .jd-block--separator
                        .jd-block
                          h3.jd__title Entry Requirements
                          p.jd__detail Qualified Stylists
                        .jd-block
                          h3.jd__title Bring
                          p.jd__detail Scissors, Combs, brushes, Hairdryer, Clippers & clipper accessories etc.
                        .jd-block
                          p.jd__tags
                            | Tags
                            span.jd__tag lorem
                            span.jd__tag lorem ipsum
                            span.jd__tag lorem ipsum dummy
                            span.jd__tag dummy
                  .col-lg-4
                    +box('Enroll on Course')
                      .box__container
                        form(action="", method="post")
                          .form-row.form__fields-wrap.pb-0
                            .col-12.form__fields-item
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='firstName')
                                label.theme__label(for='firstName') First Name
                            .col-12.form__fields-item
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='lastName')
                                label.theme__label(for='lastName') Last Name
                            .col-12.form__fields-item
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='email' id='uEmail')
                                label.theme__label(for='uEmail') E-mail
                            .col-12.form__fields-item
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='phoneNo')
                                label.theme__label(for='phoneNo') Phone no.
                            .col-12.form__fields-item
                              h3.theme__form-title--black Tickets
                              .course-tickets
                                .course-tickets__ticket
                                  .course-tickets__info
                                    .course-tickets__name Early Bird
                                    .course-tickets__rate $ 500.00
                                  .course-tickets__qty
                                    | Qty
                                    .theme__form-group
                                      label.theme__label.sr-only(for='qty01') Qty
                                      .theme__select-dropdown.theme__secondary-select-dropdown
                                        button.theme__select-dropdown-toggle Qty
                                        input(type='hidden' name='qty01')
                                        ul.theme__select-dropdown-menu
                                          - for(var x = 1; x <= 5; x++)
                                            li.theme__select-dropdown-item
                                              input(type='radio' id=x name='qty-01' value=x)
                                              label(for=x data-tar='qty01')= x
                                  .course-tickets__soldout
                                    .course-tickets__sold Tickets Sold Out
                                .course-tickets__ticket.course-tickets__ticket--sold
                                  .course-tickets__info
                                    .course-tickets__name Half Day Workshop
                                    .course-tickets__rate $ 500.00
                                  .course-tickets__qty
                                    | Qty
                                    .theme__form-group
                                      label.theme__label.sr-only(for='qty02') Qty
                                      .theme__select-dropdown.theme__secondary-select-dropdown
                                        button.theme__select-dropdown-toggle Qty
                                        input(type='hidden' name='qty02')
                                        ul.theme__select-dropdown-menu
                                          - for(var x = 1; x <= 5; x++)
                                            li.theme__select-dropdown-item
                                              input(type='radio' id=x name='qty-02' value=x)
                                              label(for=x data-tar='qty02')= x
                                  .course-tickets__soldout
                                    .course-tickets__sold Tickets Sold Out
                                .course-tickets__ticket
                                  .course-tickets__info
                                    .course-tickets__name Full Day Workshop
                                    .course-tickets__rate $ 500.00
                                  .course-tickets__qty
                                    | Qty
                                    .theme__form-group
                                      label.theme__label.sr-only(for='qty03') Qty
                                      .theme__select-dropdown.theme__secondary-select-dropdown
                                        button.theme__select-dropdown-toggle Qty
                                        input(type='hidden' name='qty03')
                                        ul.theme__select-dropdown-menu
                                          - for(var x = 1; x <= 5; x++)
                                            li.theme__select-dropdown-item
                                              input(type='radio' id=x name='qty-03' value=x)
                                              label(for=x data-tar='qty03')= x
                                  .course-tickets__soldout
                                    .course-tickets__sold Tickets Sold Out
                              .course-promo
                                .input-group.theme__form-group
                                  .input-group-prepend
                                    span#promo-addon.input-group-text Promocode
                                  input.form-control.theme__form-control.theme__secondary-form-control(type='text' placeholder='Enter Here' aria-label='promocode' aria-describedby='promo-addon')
                                button.btn.btn__search(type="button") Apply
                              .course-rates
                                table.table.table-borderless.table-sm.theme__table
                                  tbody
                                    tr
                                      td.text-left(scope='row') Discount
                                      td.text-right -$20.00
                                    tr
                                      td.text-left(scope='row') GST
                                      td.text-right $120.00
                                    tr
                                      td.text-left(scope='row') Total inc GST
                                      td.text-right $1560.00
                            button.btn.btn__primary.btn-block(type="submit") Enroll Now
                            .col-lg-12
                              .course-installments
                                p.text-center Or pay with monthly installments
                                h6.course-installments__title Setup installments
                                .course-installment
                                  .theme__form-group
                                    label.theme__label.sr-only(for='installmentSelect') Installments
                                    .theme__select-dropdown.theme__secondary-select-dropdown
                                      button.theme__select-dropdown-toggle Select
                                      input(type='hidden' name='installmentSelect')
                                      ul.theme__select-dropdown-menu
                                        - for(var x = 1; x <= 4; x++)
                                          li.theme__select-dropdown-item
                                            input(type='radio' id=x name='installment' value=x)
                                            label(for=x data-tar='installmentSelect')= x
                                  .course-intallment-step $560.00
                              small.course-support
                                | Need more info?
                                a.btn__contact(href='') Contact Us

block modal
