//- ./src/views/pages/user-add-course.pug

extends ../layouts/master.pug

block title
  title Salstro - User Add Course

block content
  //- header cum navbar
  include ../components/navbar.pug
  //- main content
  section.main-content
    .container
      .row
        .col-lg-3.col-md-4
          //- include sidebar
          // Sidebar
          include ../components/sidebar.pug
          // ./ Sidebar
        .col-lg-9.col-md-8
          //- include content
          .row
            //- Include Activity Header
            .col-12
              include ../components/myprofile_header.pug
            .col-12
              section.myprofile__content
                +box('Add a Course')
                  .addcourse__form
                    form(action="", method="post")
                      .form-row.form__fields-wrap
                        .col-lg-12.form__fields-item
                          .form-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control.form-control__error(type='text' id='courseTitle')
                            label.theme__label(for='courseTitle') Course Title
                            small.theme__primary-form-error
                              img.theme__primary-form-error-img(src=require('../../assets/images/svg/icon-error.svg') alt='Error')
                              span.theme__primary-form-error-text Error message lorem ipsum
                        .col-md-6.form__fields-item
                          .form-group
                            label.theme__label(for='courseTypeSelect') Course Type
                            .theme__select-dropdown.theme__select-dropdown-multiple
                              button.theme__select-dropdown-toggle(tab-index='-1') Select Course Type
                              input(type='hidden' name='courseTypeSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Educational' name='courseType' value='Educational')
                                  label(for='Educational' data-tar='courseTypeSelect') Educational
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Professional' name='courseType' value='Professional')
                                  label(for='Professional' data-tar='courseTypeSelect') Professional
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Private' name='courseType' value='Private')
                                  label(for='Private' data-tar='courseTypeSelect') Private
                        .col-md-6.form__fields-item
                          .form-group
                            label.theme__label(for='categorySelect') Category
                            .theme__select-dropdown.theme__select-dropdown-multiple
                              button.theme__select-dropdown-toggle(tab-index='-1') Select Category
                              input(type='hidden' name='categorySelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Salon' name='courseCategory' value='Salon')
                                  label(for='Salon' data-tar='categorySelect') Salon
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Boutique' name='courseCategory' value='Boutique')
                                  label(for='Boutique' data-tar='categorySelect') Boutique
                                li.theme__select-dropdown-item
                                  input(type='checkbox' id='Fashion' name='courseCategory' value='Fashion')
                                  label(for='Fashion' data-tar='categorySelect') Fashion
                        .col-md-6.form__fields-item
                          .form-group
                            label.theme__label(for='countrySelect') Country
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select Country
                              input(type='hidden' name='countrySelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='India' name='country' value='India')
                                  label(for='India' data-tar='countrySelect') India
                                li.theme__select-dropdown-item
                                  input(type='radio' id='USA' name='country' value='USA')
                                  label(for='USA' data-tar='countrySelect') USA
                                li.theme__select-dropdown-item
                                  input(type='radio' id='UK' name='country' value='UK')
                                  label(for='UK' data-tar='countrySelect') UK
                                li.theme__select-dropdown-item
                                  input(type='radio' id='France' name='country' value='France')
                                  label(for='France' data-tar='countrySelect') France
                        .col-md-6.form__fields-item.align__flex-end
                          .input-group.theme__input-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control(type='text' id='location' aria-describedby='button-addon4')
                            label.theme__label(for='location') Location
                            #button-addon4.input-group-append
                              button.btn.btn__outline(type='button')
                                img(src=require("../../assets/images/svg/icon-map-pin.svg"), alt="")
                        .col-lg-12
                          h1.theme__form-subtitle Course Schedule
                        .col-md-3.form__fields-item
                          .input-group.theme__input-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control.theme__datepicker-my(type='text' id='startDate' aria-describedby='button-addon4')
                            label.theme__label(for='startDate') Start Date
                            #button-addon4.input-group-append
                              button.btn.btn__outline(type='button')
                                img(src=require("../../assets/images/svg/icon-calendar.svg"), alt="")
                        .col-md-3.form__fields-item
                          .input-group.theme__input-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control.theme__datepicker-my(type='text' id='endDate' aria-describedby='button-addon4')
                            label.theme__label(for='endDate') End Date
                            #button-addon4.input-group-append
                              button.btn.btn__outline(type='button')
                                img(src=require("../../assets/images/svg/icon-calendar.svg"), alt="")
                        .col-md-6.form__fields-item
                          .form-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control(type='text' id='courseDuration')
                            label.theme__label(for='courseDuration') Course Duration
                        .col-md-3.form__fields-item
                          .form-group
                            label.theme__label(for='courseFeeSelect') Course Fees
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select Course Fees
                              input(type='hidden' name='courseFeeSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='Absorb Fees' name='courseFee' value='Absorb Fees')
                                  label(for='Absorb Fees' data-tar='courseFeeSelect') Absorb Fees
                                li.theme__select-dropdown-item
                                  input(type='radio' id='Easy Fees' name='courseFee' value='Easy Fees')
                                  label(for='Easy Fees' data-tar='courseFeeSelect') Easy Fees
                        .col-md-3.form__fields-item
                          .form-group
                            label.theme__label(for='instPlanSelect') Installment Plan
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select
                              input(type='hidden' name='instPlanSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='intEnable' name='instPlan' value='Enable')
                                  label(for='intEnable' data-tar='instPlanSelect') Enable
                                li.theme__select-dropdown-item
                                  input(type='radio' id='intDisable' name='instPlan' value='Disable')
                                  label(for='intDisable' data-tar='instPlanSelect') Disable
                        .col-md-3.form__fields-item
                          .form-group
                            label.theme__label(for='instDurationSelect') Max Installment
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select Course Fees
                              input(type='hidden' name='instDurationSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='instDur1' name='instDuration' value='1')
                                  label(for='instDur1' data-tar='instDurationSelect') 1
                                li.theme__select-dropdown-item
                                  input(type='radio' id='instDur2' name='instDuration' value='2')
                                  label(for='instDur2' data-tar='instDurationSelect') 2
                                li.theme__select-dropdown-item
                                  input(type='radio' id='instDur3' name='instDuration' value='3')
                                  label(for='instDur3' data-tar='instDurationSelect') 3
                                li.theme__select-dropdown-item
                                  input(type='radio' id='instDur4' name='instDuration' value='4')
                                  label(for='instDur4' data-tar='instDurationSelect') 4
                        .col-md-3.form__fields-item
                          .form-group
                            label.theme__label(for='promoCodeSelect') Promo Code
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select
                              input(type='hidden' name='promoCodeSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='promo01' name='promoCode' value='Promo 01')
                                  label(for='promo01' data-tar='promoCodeSelect') Promo 01
                                li.theme__select-dropdown-item
                                  input(type='radio' id='promo02' name='promoCode' value='Promo 02')
                                  label(for='promo02' data-tar='promoCodeSelect') Promo 02
                        .col-md-3.form__fields-item
                          .form-group
                            label.theme__label(for='currencyTypeSelect') Type
                            .theme__select-dropdown
                              button.theme__select-dropdown-toggle(tab-index='-1') Select
                              input(type='hidden' name='currencyTypeSelect')
                              ul.theme__select-dropdown-menu
                                li.theme__select-dropdown-item
                                  input(type='radio' id='currency01' name='currencyType' value='$')
                                  label(for='currency01' data-tar='currencyTypeSelect') $
                                li.theme__select-dropdown-item
                                  input(type='radio' id='currency02' name='currencyType' value='€')
                                  label(for='currency02' data-tar='currencyTypeSelect') €
                        .col-md-3.form__fields-item.align__flex-end
                          .form-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control(type='number' id='feeValue')
                            label.theme__label(for='feeValue') Value
                        .col-lg-12
                          h1.theme__form-subtitle Ticket
                        .col-lg-12.course__tickets
                          .course__ticket
                            .form__fields-item.span--full
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='ticketName')
                                label.theme__label(for='ticketName') Ticket Name
                            .form__fields-item.span--half
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='qty')
                                label.theme__label(for='qty') Qty
                            .form__fields-item.span--half
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='price')
                                label.theme__label(for='price') Price
                            .form__fields-item.span--half
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='onlineFee')
                                label.theme__label(for='onlineFee') Online Fee
                            .form__fields-item.span--half
                              .form-group.theme__form-group
                                input.form-control.theme__form-control.theme__primary-form-control(type='text' id='buyerPrice')
                                label.theme__label(for='buyerPrice') Buyer Price
                            .form__fields-item.span--small
                              button.btn.btn__add-ticket(data-target=".course__tickets" onclick="addTicket(event, this)") &#43;
                        .col-lg-12.form__fields-item
                          .form-group
                            label.theme__label(for='entryReq') Entry Requirements
                            textarea.form-control.theme__form-control(rows='3' placeholder='Write here (Qualified Stylist, etc)' id='entryReq')
                        .col-lg-12.form__fields-item
                          .form-group.theme__form-group
                            input.form-control.theme__form-control.theme__primary-form-control.add__badge(type='text' id='workshopTags')
                            input(type="hidden", name="workshopTags")
                            label.theme__label(for='workshopTags') Enter Tags
                            .theme__badge-container
                        .col-lg-12.form__fields-item
                          .form-group
                            label.theme__label(for='courseDes') Course Description
                            textarea.form-control.theme__form-control(rows='3' placeholder='Write here' id='courseDes')
                        .col-md-6.form__fields-item
                          .form-group.theme__file-upload
                            input.theme__file-upload-input(type='file' id='workshopImage')
                            label.theme__file-upload-label.addnewitem__box(for='workshopImage')
                              img.addnewitem__box-img(src=require('../../assets/images/svg/icon-addimage.svg') alt='Add Image')
                              span.addnewitem__box-text Upload Cover Image
                      .btn__submit-block
                        button.btn.btn__primary(type="submit") Submit

block modal
