//- ./src/views/mixins/box.pug

mixin box(heading, img='none', className='none')
  .box
    .box__head
      if img != 'none'
        if className != 'none'
          img.box__img(src=img, alt="", class=className)
          h1.box__heading #{heading}
        else
          img.box__img(src=img, alt="")
          h1.box__heading #{heading}
      else
        h1.box__heading #{heading}
    .box__body
      if block
        block
