//- ./src/views/mixins/post.pug

mixin post()
  article.feed__post
    .feed__post-header
      a.feed__post-avatar(href="#")
        img(src=require("../../assets/images/img/avatar.jpg"), alt="Avatar")
      p.feed__post-userinfo
        a.feed__post-username(href="#")
          | Roger Fernando
        span.feed__post-userprof &nbsp;&nbsp;|&nbsp;&nbsp; Senior Hair Stylist
        span.feed__post-time 24 hrs ago
      .dropdown.custom__dropdown
        button#dropdownMenuButton.btn.dropdown-toggle.vertical__ellipsis-menu(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          img(src=require("../../assets/images/svg/vertical-ellipsis.svg"), alt="")
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') Flag
          a.dropdown-item(href='#') Unfollow
    .feed__post-body
      if block
        block
      .feed__post-meta
        .feed__post-like-counts
          img(src=require("../../assets/images/svg/like-pink.svg"), alt="")
          | 451 likes
        .feed__post-comment-counts
          img(src=require("../../assets/images/svg/comment.svg"), alt="")
          | 528 comments
        .feed__post-share-counts
          | 25 shares
      .feed__post-social
        a.feed__post-like(href="#")
          img(src=require("../../assets/images/svg/like.svg"), alt="")
          | Like
        a.feed__post-comment(href="#")
          img(src=require("../../assets/images/svg/comment.svg"), alt="")
          | Comment
        a.feed__post-share(href="#")
          img(src=require("../../assets/images/svg/share.svg"), alt="")
          | Share
    .feed__post-footer
      a.feed__post-avatar.feed__post-avatar-small(href="#")
        img(src=require("../../assets/images/img/avatar.jpg"), alt="Avatar")
      .input-group.feed__post-input
        input.form-control.form__control-feed(type='text' placeholder="Comment" aria-label="Comment" aria-describedby='button-addon4')
        #button-addon4.input-group-append
          button.btn.btn__outline(type='button')
            img(src=require("../../assets/images/svg/smiley.svg"), alt="")
          button.btn.btn__outline(type='button')
            img(src=require("../../assets/images/svg/icon-camera.svg"), alt="")
          button.btn.btn__outline(type='button')
            img(src=require("../../assets/images/svg/icon-gif.svg"), alt="")
          button.btn.btn__outline.btn__send(type='button')
            img(src=require("../../assets/images/svg/icon-send.svg"), alt="")
