//- ./src/views/components/addPhotoPopup.pug

include ../mixins/modal.pug

+modalComplete('Upload Photos', 'uploadPhoto')
  .upload__photo-container
    form(action="", method="post")
      .upload__photo-head
        .userfeed__newpost-avatar
          img(src=require("../../assets/images/img/avatar.jpg"), alt="")
        .form-group
          label.sr-only(for='newphotopost') Create Photo Post
          input#newphotopost.form-control.form__control-noborder.form__placeholder-dark(type='text' placeholder='Create a new post or use @ to mention someone')
      .upload__photo-body
        .newphotopost__group
          .newphotopost__container
            .newphotopost__item
              img(src=require("../../assets/images/img/photo.jpg"), alt="")
              button.btn.btn__remove-small &times;
          .form-group
            label.btn.btn__add.btn__add-big(for="photopost")
              img(src=require("../../assets/images/svg/plus-gray.svg"), alt="")
            input#photopost(type="file", name="")
        .newpost__options-tag
          .input-group
            .input-group-prepend
              span#options__tag.input-group-text Tags
            input.form-control(type='text' placeholder='Create tags for your topic' aria-label='Tags' aria-describedby='options__tag')
      .upload__photo-foot
        .userfeed__newpost-privacy
          | Privacy
          .custom__select-with-img
            select.custom-select(name='privacy')
              option(value='public' data-img="/assets/images/icon-globe.svg") Public & Community
              option(value='private' data-img="/assets/images/icon-public.svg") Public
              option(value='onlyme' data-img="/assets/images/icon-private.svg") Private
            .custom__select-selected
              img.custom__select-selected-img(src=require("../../assets/images/svg/icon-globe.svg"), alt="")
              span.custom__select-selected-text Public &amp; Community
            ul.custom__select-list
              li.custom__select-list-item(value='publiccommunity')
                img.custom__select-img(src=require("../../assets/images/svg/icon-globe.svg"), alt="")
                .custom__select-list-text
                  h3.custom__select-name Public &amp; Community
                  p.m-0.custom__select-text Will be shared with their connections, followers, and posted on the community wall
              li.custom__select-list-item(value='public')
                img.custom__select-img(src=require("../../assets/images/svg/icon-public.svg"), alt="")
                .custom__select-list-text
                  h3.custom__select-name Public
                  p.m-0.custom__select-text Shared with connections &amp; followers
              li.custom__select-list-item(value='private')
                img.custom__select-img(src=require("../../assets/images/svg/icon-private.svg"), alt="")
                .custom__select-list-text
                  h3.custom__select-name Private
                  p.m-0.custom__select-text Shared only with connections
        button.btn.btn__primary(type="submit") Post
