//- ./src/views/components/navbar.pug
header.header
  nav#navbar-main.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#')
        img.navbar-logo(src=require("../../assets/images/svg/logo.svg"), alt="Salstro Logo")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-salstro' aria-controls='navbar-salstro' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      form.form-inline.my-2.my-lg-0.navbar__form
        .navbar__search-wrapper
          input.form-control(type='search' placeholder='Search' aria-label='Search')
      #navbar-salstro.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              img.navbar__icon(src=require("../../assets/images/svg/icon-home.svg"), alt="Home")
              span.navbar__linktext Home
          li.nav-item.dropdown.navbar__dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.navbar__icon(src=require("../../assets/images/svg/icon-community.svg"), alt="Community")
              span.navbar__linktext Community
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Inpiration Gallery
              a.dropdown-item(href='#') Hair
              a.dropdown-item(href='#') Beauty
              a.dropdown-item(href='#') Hall of Fame
              a.dropdown-item(href='#') Blogs
              a.dropdown-item(href='#') Community Wall
          li.nav-item.dropdown.navbar__dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.navbar__icon(src=require("../../assets/images/svg/icon-education.svg"), alt="Education")
              span.navbar__linktext Education
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Course Search
              a.dropdown-item(href='#') Tutorial
          li.nav-item.dropdown.navbar__dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.navbar__icon(src=require("../../assets/images/svg/icon-jobs.svg"), alt="Jobs")
              span.navbar__linktext Jobs
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Job Search
              a.dropdown-item(href='#') Job Seeker Search
          li.nav-item.dropdown.navbar__dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.navbar__icon.navbar__user-avatar(src=require("../../assets/images/img/avatar.jpg"), alt="User")
              span.navbar__linktext Roger
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Profile Edit
              a.dropdown-item(href='#') View Profile
              a.dropdown-item(href='#') Account Settings
              a.dropdown-item(href='#') Change Password
              a.dropdown-item(href='#') Add Company
              a.dropdown-item(href='#') Membership
              a.dropdown-item(href='#') Refer a friend
              a.dropdown-item(href='#') Logout
