//- ./src/views/components/profile_timeline.pug

include ../mixins/box.pug

+box('Profile Timeline')
  .profile__timeline-container
    .timeline__block
      h2.timeline__block-year 2018
      .timeline__block-item
        .timeline__time-item.timeline__time-left
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='') Add Experience
        .timeline__event-item.timeline__event-right
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
      .timeline__block-item
        .timeline__event-item.timeline__event-left
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='') Add Education
        .timeline__time-item.timeline__time-right
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
    .timeline__block
      h2.timeline__block-year 2017
      .timeline__block-item
        .timeline__time-item.timeline__time-left
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='')
            | Add Awards
            br
            | &amp; Achivements
        .timeline__event-item.timeline__event-right
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
      .timeline__block-item
        .timeline__event-item.timeline__event-left
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='')
            | Add Events
            br
            | &amp; Milestones
        .timeline__time-item.timeline__time-right
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
    .timeline__block
      h2.timeline__block-year 2016
      .timeline__block-item
        .timeline__time-item.timeline__time-left
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='')
            | Add Volunteer
            br
            | Experience
        .timeline__event-item.timeline__event-right
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
      .timeline__block-item
        .timeline__event-item.timeline__event-left
          .timeline__event-block
            h3.timeline__event-title Senior Hair Stylist
            h5.timeline__event-subtitle Mauris dapibus company, New York
            a.timeline__event-info(href='') View detail
          .timeline__event-img-wrap
            img.timeline__event-img(src=require('../../assets/images/img/tl-icon-01.jpg') alt='Event Image')
        .timeline__item-point
          .timeline__point
          a.timeline__point-event(href='')
            | Add Volunteer
            br
            | Experience
        .timeline__time-item.timeline__time-right
          a.timeline__edit-btn(href='')
            img(src=require('../../assets/images/svg/icon-pencil-circle-gray.svg'), alt="Edit")
          .timeline__time-block
            p.timeline__time March 2017 - Current
            p.timeline__time-lapsed 1 yrs 5 months
